<h1>Welcome to Paper, Scissors, Stone!</h1>
<img src="https://www.wikihow.com/images/thumb/3/33/Play-Rock%2C-Paper%2C-Scissors-Step-5-Version-3.jpg/aid42597-v4-728px-Play-Rock%2C-Paper%2C-Scissors-Step-5-Version-3.jpg.webp" alt="How to play Paper, Scissors, Stone">
