<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Paper, Scissors, Stone</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/game/paper/scissors">Paper vs Scissors</a>
      </li>
      <li>
        <a href="/game/paper/rock">Paper vs Rock</a>
      </li>
      <li>
        <a href="/game/rock/paper">Rock vs Paper</a>
      </li>
      <li>
        <a href="/game/rock/scissors">Rock vs Scissors</a>
      </li>
      <li>
        <a href="/game/scissors/paper">Scissors vs Paper</a>
      </li>
      <li>
        <a href="/game/scissors/rock">Scissors vs Rock</a>
      </li>
    </ul>
    </nav>
    <%= yield %>
  </body>
</html>
